body {
  background-color: darkgrey;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.player-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-card {
  width: 40%;
  box-shadow: 4px 5px 10px 5px rgba(0, 0, 0, 0.45);
  margin: 10px;
  text-align: center;
  padding: 5px;
}
